.Comments {
  display: block;
  clear: both;
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-top: 20px;
  padding-left: 64px;
  padding-right: 64px;

  .commentTitle {
    display: flex;

    h5 {
      margin-right: auto;
    }
  }

  .commentsCount {
    opacity: .6;
    font-size: 14px;
    position: relative;
    top: 3px;
  }

  .comment-box {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    font-size: 14px;
    display: block;

    p {
      margin-bottom: 6px;
      line-height: 18px;
    }
    small {
      opacity: .7;
    }

    &-wrapper {
      display: flex;

      .commentVote {
        width: 55px;
        padding-right: 20px;
        text-align: center;
      }

      .arrow {
        content: '';
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        width: 0;
        height: 0;
        display: block;
        margin: 2px 10px;
        cursor: pointer;

        &.up {
          border-bottom: 8px solid #666;

          &:hover {
            border-bottom-color: green;
          }
        }

        &.down {
          border-top: 8px solid #666;
          &:hover {
            border-top-color: red;
          }
        }
      }
    }
  }

  .editBtnNone {
    font-size: 12px;
    padding: 0;
    position: relative;
    top: -1px;

    svg {
      height: 12px;
    }
  }
}

.commentForm {
  margin: 20px 0;
  font-size: 14px;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #eee;

  h6 {
    margin-bottom: 30px;
  }

  input,
  textarea {
    border-radius: 0;
    resize: none;
    min-width: 100%;
    font-size: 14px;
  }

  input {
    height: 26px;
  }

  .row {
    width: 100%;
    padding-right: 50%;
    margin-bottom: 10px;
  }

  .btn {
    width: 100%;
  }
}
