.tableContainer {
  width: 100%;
  
  .empty-posts {

    &:hover {
      td {
        background-color: initial;
        border-top: none !important;
      }
    }

    p {
      padding: 16px;
      font-size: 14px;
    }
  }

  table {
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  thead {
    th {
      padding: 8px 10px;
      font-size: 13px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;

      &:first-child {
        border-top: none;
        border-bottom: none;
        padding-right: 0;
        padding-left: 0;
        width: 16px;
      }

      &:last-child {
        border-top: none;
        border-bottom: none;
        padding-left: 0;
        padding-right: 0;
        width: 16px;
      }

      &.sortable {
        cursor: pointer;
        white-space: nowrap;

        &:hover {
          &.sort_asc,
          &.sort_desc {
            &::after {
              opacity: 1;
            }
          }
        }
      }

      &.sort_asc {
        &::after {
          content: '';
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          width: 0;
          height: 0;
          display: inline-block;
          margin: 3px 5px;
          cursor: pointer;
          border-top: 4px solid #666;
          opacity: 0.7;
          transform: translate3d(0,0,0);
        }
      }

      &.sort_desc {
        &::after {
          content: '';
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          width: 0;
          height: 0;
          display: inline-block;
          margin: 3px 5px;
          cursor: pointer;
          border-bottom: 4px solid #666;
          opacity: 0.7;
          transform: translate3d(0,0,0);
        }
      }
    }
  }

  tbody {
    tr {
      &:hover {
        cursor: pointer;
        td {
          background-color: #f9f9f9;

          &:first-child {
            border-top: 1px solid #eee;
          }

          &:last-child {
            border-top: 1px solid #eee;
          }
        }

        + tr {
          td {
            &:first-child {
              border-top: 1px solid #eee;
            }

            &:last-child {
              border-top: 1px solid #eee;
            }
          }
        }
      }
    }
    td {
      padding: 8px 10px;
      border-top: 1px solid #eee;

      h4 {
        font-size: 16px;
        margin: 0;
      }

      small {
        opacity: .7;
      }

      &:first-child {
        border-top: none;
        padding-right: 0;
        padding-left: 0;
        width: 16px;
      }

      &:last-child {
        border-top: none;
        padding-right: 0;
        padding-left: 0;
        width: 16px;
      }
      &.delete {
        text-align: right;
      }
      .deleteBtn,
      .editBtn {
        cursor: pointer;
        opacity: .7;

        &:hover {
          opacity: 1;
        }

        svg {
          position: relative;
          top: 2px;
        }
      }

      .arrow {
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        width: 0;
        height: 0;
        display: block;
        margin: 3px 8px;
        cursor: pointer;

        &.up {
          border-bottom: 6px solid #666;

          &:hover {
            border-bottom-color: green;
          }
        }

        &.down {
          border-top: 6px solid #666;
          &:hover {
            border-top-color: red;
          }
        }
      }

      &.voting,
      &.scores {
        width: 0.001%;
      }
      &.scores {
        text-align: right;
      }
      &.voting {
        padding-left: 0;
      }
    }
  }
}